.button {
    display: inline-block;

    width: 250px;
    padding: 22px 0;

    font-family: inherit;
    font-weight: var(--fw-500);
    font-size: 18px;
    line-height: 1;

    text-align: center;
    text-transform: uppercase;

    border: none;
    border-radius: 50px;
    box-shadow: var(--shadows-v2);

    background-color: var(--clr-accent-400);
    color: var(--clr-neutral-100);

    cursor: pointer;
}

.button:active {
    background-color: darkgray;
}