.loading-screen {
    position: absolute;
    inset: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--clr-neutral-400);
    z-index: 5;

    transition: opacity 250ms linear, visibility 250ms linear, background-color 250ms linear;
}

.loading-screen:after {
    content: "powered by Ahmed Eid";
    position: absolute;
    bottom: 10px;

    font-size: var(--fs-100);

    color: var(--clr-neutral-100);

    animation: puff-in-center 0.7s cubic-bezier(0.470, 0.000, 0.745, 0.715) 500ms both;
}

.loader {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    font-weight: var(--fw-500);
    font-family: var(--ff-3);
    font-size: var(--fs-100);

    border: 2px solid #fff;
    pointer-events: none;
    animation: animate 5s linear infinite;
}

.loader span:nth-child(1) {
    border-radius: 38% 62% 64% 36% / 43% 35% 65% 57%;
}

.loader span:nth-child(2) {
    animation-direction: reverse;
    border-radius: 41% 59% 40% 60% / 65% 66% 34% 35%;
}

.loader span:nth-child(3) {
    animation-duration: 3s;
    border-radius: 73% 27% 56% 44% / 57% 74% 26% 43%;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loading-screen small {
    color: var(--clr-neutral-100);
}

.dot1 {
    animation: dot1 1s linear infinite both;
}

/* .dot2 {
    animation: dot2 1000ms linear 1000ms;
}
.dot3 {
    animation: dot3 1000ms linear 2000ms;
} */

.dot:not(:last-child) {
    margin-right: -0.15em;
}

/* =========== hide class ===============*/
.loading-screen.is-hidden {
    opacity: 0;
    visibility: hidden;
    background-color: transparent;

    pointer-events: none;
}

.loading-screen.is-shown {
    background-color: #111;
}