:root {
    /* =====================================colors=========================== */
    --clr-accent-300: #66708052;
    --clr-accent-400: #667080;

    --clr-neutral-100: #ffffff;
    --clr-neutral-400: #EEF1F4;
    --clr-neutral-500: #f5deb3;
    --clr-neutral-600: #faebd7;

    --clr-dark-100: #000000;

    /* ============================== font-family =============================== */
    --ff-1: 'Montserrat', sans-serif;
    --ff-2: 'Courier New', Courier, monospace;
    --ff-3: 'Consolas', monospace;

    /* ============================== font-weight ============================== */
    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    /* ============================= font-size ================================ */
    --fs-100: 12px;
    --fs-200: 13px;
    --fs-300: 16px;
    --fs-400: 22px;
    --fs-500: 32px;
    --fs-600: 36px;

    /* ============================== line-height ============================== */
    --lh-118: 1.18;
    --lh-12: 1.2;
    --lh-14: 1.4;
    --lh-17: 1.7;
    --lh-175: 1.75;

    /* ============================== letter-spacing ========================== */
    --ls-3: 3%;
    --ls-5: 5%;
    --ls-10: 10%;

    /* ============================== shadows ================================= */
    --shadows-v1: 0px 1px 0px rgba(0, 0, 0, 0.16);
    --shadows-v2: 0px 40px 40px rgba(0, 0, 0, 0.1);

    /* =============================== spacing and gaps ========================= */
    --spacing-sections: 20px;
}