.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    height: 50px;
    padding: 5px 15px;

   
    box-shadow: var(--shadows-v3);
}

svg {
    width: 2rem;
    height: 2rem;

    fill: var(--clr-accent-400);
}