@keyframes dot1 {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes dot2 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}

@keyframes dot3 {
    0% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}